.popup {
  background-color: pink;
  width: 200px;
  height: 300px;
}

#localVideo {
  width: 200px;
  height: 120px;
  background-color: gray;
}

.popup p {
  color: blue;
}
.settings {
  background-color: antiquewhite;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
